<%= form_for(raffle) do |f| %>
  <% if raffle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(raffle.errors.count, "error") %> prohibited this raffle from being saved:</h2>

      <ul>
      <% raffle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>
  </div>

  <div class="field">
    <li><%= f.label :description %></li>
    <li><%= f.text_area :description %></li>
  </div>

  <div class="field">
    <li><%= f.label :price %></li>
    <li><%= f.number_field :price %></li>
  </div>

  <div class="field">
    <li><%= f.label :final_date %></li>
    <li><%= f.datetime_select :final_date %></li>
  </div>

  <div class="field">
    <li><%= f.label :raffle_category_id %></li>
    <li>
      <select class="" name=raffle[raffle_category_id]>
        <option value=-1>Select</option>
        <% if !RaffleCategory.all.blank? %>
          <% for raffle_category in RaffleCategory.all %>
            <option value = <%= raffle_category.id %> >
            <%= raffle_category.name %>
            </option>
          <% end %>
        <% end %>
      </select>
    </li>
  </div>

  <div class="field">
    <li><%= f.submit class:"button" %></li>
  </div>
<% end %>
