<p id="notice"><%= notice %></p>

<h1 class="center">Raffles</h1>

<%= will_paginate %>

<div class="">
  <% @raffles.each do |raffle| %>
    <div class="raffle-info">
      <h2><%= raffle.name %></h2>
      <h3>by <%= raffle.user.name %></h3>
      <p> <%= raffle.description %> </p>
      <p><b>Final Date:</b> <%= raffle.final_date %></p>
      <p><b>Price:</b> <%= raffle.price %></p>
      <p><b>Category:</b> <%= raffle.raffle_category.name %></p>
      <div class="raffle-buttons">
        <%= link_to 'Show', raffle , class:"normal-button"%>
        <% if logged_in? %>
          <% if (creator_user?(raffle) || current_user.admin?)%>
            <%= link_to 'Edit', edit_raffle_path(raffle) , class:"normal-button"%>
            <%= link_to 'Destroy', raffle, method: :delete,
                                           data: { confirm: 'Are you sure?' } ,
                                           class:"normal-button"%>
          <% end %>
        <%end%>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate %>

<!--<%= link_to 'New Raffle', new_raffle_path %>-->
