<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @raffle.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @raffle.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @raffle.price %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @raffle.final_date %>
</p>

<p>
  <strong>Collected money:</strong>
  <%= @raffle.collected_money %>
</p>

<p>
  <strong>User:</strong>
  <%= @raffle.user_id %>
</p>

<p>
  <strong>Raffle category:</strong>
  <%= @raffle.raffle_category_id %>
</p>

<h2>Prizes for this raffle</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Prize category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @prizes.each do |prize| %>
      <tr>
        <td><%= prize.name %></td>
        <td><%= prize.description %></td>
        <td><%= prize.prize_category_id %></td>
        <% if params.has_key?(:raffle_id) %>
        <td><%= link_to 'Edit', edit_raffle_prize_path(raffle_id:@raffle.id,id: prize.id) %></td>
        <td><%= link_to 'Destroy', raffle_prize_url(id: prize.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Comments', raffle_comments_path(@raffle.id) %> |
<% if (creator_user?(@raffle) || current_user.admin?) %>
<%= link_to 'Add Prize', raffle_prizes_path(@raffle.id) %> |
  <%= link_to 'Edit', edit_raffle_path(@raffle) %> |
  <%= button_to 'Draw the raffle', raffle_draw_raffle_path(@raffle.id) %> |
<% else %>
<%= link_to 'Bought numbers', raffle_numbers_path(@raffle) %>|
<%= link_to 'Buy a number', raffle_numbers_path(@raffle.id), method: :create, data: { confirm: 'Are you sure?'} %> |
<% end %>
<%= link_to 'Back', raffles_path %>
