<% provide(:title, @raffle.name)%>
<p id="notice"><%= notice %></p>

<div class="raffle-info">
  <h1><%= @raffle.name %></h1>
  <h3>
    by: <%= @raffle.user.name %>
    <% if logged_in? %>
    <% if !following?(@raffle.user) %>
      <%= link_to 'Follow', user_relationships_path( relationship: { follower_id: current_user.id,
        followed_id: @raffle.user.id},
        user_id: current_user.id),
        method: :create,
        class:"normal-button"%>
    <% else %>
     <% relationship = Relationship.where("follower_id = #{current_user.id} AND followed_id = #{@raffle.user.id}" ).first%>
      <%= link_to 'Unfollow', user_relationship_path( id: relationship.id,
        user_id: current_user.id),
        method: :delete,
        data: {confirm: "Are you sure?"},
        class:"normal-button"%>
    <% end %>
    <% end %>
  </h3>
  <p>
    <strong>Description:</strong>
    <%= @raffle.description %>
  </p>
  <p>
    <strong>Final date:</strong>
    <%= @raffle.final_date %>
  </p>
  <p>
    <strong>Price:</strong>
    $ <%= @raffle.price %>
  </p>
  <p>
    <strong>Raffle category:</strong>
    <%= link_to @raffle.raffle_category.name, raffle_category_path(@raffle.raffle_category),
                                              class:"normal-button"%>
  </p>
  <p>
    <strong>Collected money:</strong>
    $ <%= @raffle.collected_money %>
  </p>
  <div class="raffle-buttons">
    <% if logged_in? %>
      <% if creator_user?(@raffle) %>
        <%= link_to 'Edit', edit_raffle_path(@raffle), class:"normal-button" %>
        <%= button_to 'Draw the raffle', raffle_draw_raffle_path(raffle_id: @raffle.id), class:"button" %>
        <%= link_to 'Bought numbers', raffle_numbers_path(@raffle), class:"normal-button" %>
      <% else %>
        <%= link_to 'Buy a number', raffle_numbers_path(@raffle.id),
                                    method: :POST,
                                    data: { confirm: 'Are you sure?', type: :html},
                                    class:"normal-button", remote: true, id:"new-number"%>
      <% end %>
    <% end %>

  </div>
</div>

<h2>Prizes for this raffle</h2>

<% if logged_in? && creator_user?(@raffle) %>
  <%= link_to 'Add Prize', new_raffle_prize_path(@raffle.id),
                           class:"normal-button"%>
<% end %>
<% if !@raffle.prizes.blank? %>
  <% for prize in @raffle.prizes %>
    <div class="raffle-info">
      <p>
        <strong>
          <%= prize.name%>
        </strong>
      <br><br>
        <strong>
          Description:
        </strong>
        <br>
        <%= prize.description %>
        <br><br>
        <strong>Category:</strong>
        <%= link_to prize.prize_category.name, prize.prize_category, class:"normal-button" %>
      </p>
      <div class="raffle-buttons">
        <% if logged_in? && creator_user?(@raffle) %>
          <%= link_to 'Edit', edit_raffle_prize_path(id:prize.id, raffle_id:prize.raffle.id), class:"normal-button" %>
        <% end %>
      </div>
    </div>
    <p>
    </p>
  <% end %>
<% else %>

<% end %>


<h2>Comments</h2>


<% if logged_in? %>
  <div class="new-comment">
    <h1>Make a comment</h1>
    <div class="input-list">
      <%= render 'form_comment', comment: @comment %>
    </div>
  </div>
<% end %>



<% if !@raffle.comments.blank? %>
  <% comments_of_raffle = @raffle.comments.sort_by(&:created_at).reverse %>
  <% for comment in  comments_of_raffle %>
    <div class="comment">
      <div class="comment-content">
        <h4><%=comment.user.name%> said:</h4>
        <% if !comment.answered.blank? %>
          <p class="comment-content">
            <strong>As an answer for what <%=comment.answered.user.name%> said:</strong>
            <br><br>
            <%= comment.answered.content%>
          </p>
        <% end %>
        <p><%= comment.content%></p>
      </div>
      <p class="date"><b>Last modification:</b> <%= comment.updated_at%></p>
      <% if logged_in? %>
      <div class="">
        <% if current_user?(comment.user) %>
          <%= link_to 'Edit', edit_raffle_comment_path(id: comment.id,
                                                       raffle_id: @raffle.id),
                              class:"normal-button"%>
          <%= link_to 'Destroy', raffle_comment_path(id: comment.id,
                                                     raffle_id: @raffle.id),
                                 method: :delete,
                                 data: { confirm: 'Are you sure?' },
                                 class:"normal-button" %>
        <% else %>
          <%= link_to 'Answer', new_raffle_comment_comment_path(comment_id: comment.id,
                              raffle_id: @raffle.id),
                              class:"normal-button"%>
        <% end %>

      </div>
      <% end %>
      <% if !comment.answers.blank? %>
        <p><strong>Answers:</strong></p>
          <div class="answers">
            <% for answer in comment.answers %>
              <p class="comment-content"><strong><%= answer.user.name%> answered:</strong>
                <br><br>
              <%= answer.content%></p>
            <% end %>
          </div>
      <% end %>

    </div>
  <% end %>
<% end %>
