<p id="notice"><%= notice %></p>

<div class="raffle-info">
  <h1><%= @raffle.name %></h1>
  <h3>by: <%= @raffle.user.name %></h3>
  <p>
    <strong>Description:</strong>
    <%= @raffle.description %>
  </p>
  <p>
    <strong>Final date:</strong>
    <%= @raffle.final_date %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @raffle.price %>
  </p>
  <p>
    <strong>Raffle category:</strong>
    <%= @raffle.raffle_category.name %>
  </p>
  <p>
    <strong>Collected money:</strong>
    <%= @raffle.collected_money %>
  </p>

</div>

<h2>Prizes for this raffle</h2>
<h2>Comments</h2>

<% if !@raffle.comments.blank? %>
  <% for comment in @raffle.comments %>
    <div class="comment">
      <h4><%=comment.user.name%> said:</h4>
      <p class="comment-content"><%= comment.content%></p>
      <p class="date"><b>Last modification:</b> <%= comment.updated_at%></p>
      <% if logged_in? && current_user?(comment.user) %>
      <div class="">
        <%= link_to 'Edit', edit_raffle_comment_path(id: comment.id,
                                                     raffle_id: @raffle.id),
                            class:"normal-button"%>

      </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="new-comment">
  <h1>Editing Comment</h1>
  <div class="input-list">
    <%= render 'form_comment', comment: @comment %>
  </div>
</div>



<%= link_to 'Comments', raffle_comments_path(@raffle.id) %> |
<% if logged_in? && (creator_user?(@raffle) || current_user.admin?) %>
<%= link_to 'Add Prize', raffle_prizes_path(@raffle.id) %> |
  <%= link_to 'Edit', edit_raffle_path(@raffle) %> |
  <%= button_to 'Draw the raffle', raffle_draw_raffle_path(@raffle.id) %> |
<% else %>
<%= link_to 'Bought numbers', raffle_numbers_path(@raffle) %>|
<%= link_to 'Buy a number', raffle_numbers_path(@raffle.id), method: :create, data: { confirm: 'Are you sure?'} %> |
<% end %>
<%= link_to 'Back', raffles_path %>
