<div >
  <div class="center">
    <h1 >
      Welcome to RAFFLE-MANIA
    </h1>
    <p>
      This is the home page for
      IIC2513-2017-1
      Project, Group 19
    </p>
    <% if not logged_in? %>
      <%= link_to "Sign up now!", signup_path, class: "sign-up-button"%>
    <% end %>
    <br>
  </div>
  <hr>
  <div id="categories_displayer" class="center">
    <div id="raffle_categories" class="">
      <h3>Raffle categories</h3>
      <div class="list-of-links">
        <ul>
          <% if !@raffle_categories.blank? %>
          <% for raffle_category in @raffle_categories %>
          <li><%= link_to raffle_category.name, raffle_category %></li>
          <% end %>
          <% end %>
        </ul>
      </div>
      <% if logged_in? && current_user.admin?%>
        <%= link_to "Add raffle category", new_raffle_category_path , class:"normal-button" %>
      <% end %>
    </div>
    <div id="prize_categories" class="">
      <h3>Prizes categories</h3>
      <div class="list-of-links">
        <ul>
          <% if !@prize_categories.blank? %>
          <% for prize_category in @prize_categories %>
          <li><%= link_to prize_category.name, "#"%></li>
          <% end %>
          <% end %>
        </ul>
      </div>
      <% if logged_in? && current_user.admin?%>
        <%= link_to "Add raffle category", "#", class:"normal-button" %>
      <% end %>
    </div>
  </div>
  <hr>
  <div id="random-raffle"class="">
    <h2>
      Random Raffle
    </h2>
    <% if !Raffle.all.blank? %>
      <% random_raffle = Raffle.all.sample %>
      <div class="raffle-info">
        <h3>
          <%= random_raffle.name %>
        </h3>
        <p>
          <strong>
            Description:
          </strong>
          <br>
          <%= random_raffle.description %>
        </p>
        <div class="raffle-buttons">
          <%= link_to 'Show', raffle_path(random_raffle), class:"normal-button"%>
        </div>
      </div>
    <% else %>

    <% end %>

  </div>
</div>
