<%= provide(:title, "Log in") %>
<div class="form">
  <div class="form-window">
    <h1>Log in</h1>
    <div class="input-list">
      <%= form_for(:session, url: login_path) do |f| %>

      <li><%= f.label :email %></li>
      <li><%= f.text_field :email, class: 'form-control' %></li>

      <li><%= f.label :password %></li>
      <li><%= f.password_field :password, class: 'form-control' %></li>

      <li><%= f.submit "Log in", class:"button" %></li>
      <% end %>
    </div>

    <p>
      New user? <%= link_to "Sign up now!", signup_path %>
    </p>
  </div>
</div>
