<%= form_for(prize_category) do |f| %>
  <% if prize_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prize_category.errors.count, "error") %> prohibited this prize_category from being saved:</h2>

      <ul>
      <% prize_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>
  </div>

  <div class="field">
    <li><%= f.label :description %></li>
    <li><%= f.text_area :description %></li>
  </div>

  <div class="actions">
    <li><%= f.submit class:"button" %></li>
  </div>
<% end %>
