<%= form_for [@raffle, answered, answer] do |f| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <li><%= f.label :content %></li>
    <li><%= f.text_area :content %></li>
  </div>

  <div class="field">
    <li><%= f.submit class:"button" ,
    remote: true,
    data: {
      type: 'json',
      'user-id':current_user.id
    }%></li>
  </div>
<% end %>
