<p id="notice"><%= notice %></p>

<p>
  <strong>User Id:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Raffle Id:</strong>
  <%= @comment.raffle_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_raffle_comment_path(id: @comment.id) %> |
<%= link_to 'Back', raffle_comments_path %>
