<p id="notice"><%= notice %></p>

<h1>Price Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_categories.each do |price_category| %>
      <tr>
        <td><%= price_category.name %></td>
        <td><%= price_category.description %></td>
        <td><%= link_to 'Show', price_category %></td>
        <td><%= link_to 'Edit', edit_price_category_path(price_category) %></td>
        <td><%= link_to 'Destroy', price_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price Category', new_price_category_path %>
