<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @price_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @price_category.description %>
</p>

<%= link_to 'Edit', edit_price_category_path(@price_category) %> |
<%= link_to 'Back', price_categories_path %>
