<p id="notice"><%= notice %></p>

<h1>Numbers</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Raffle</th>
      <th>User</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @numbers.each do |number| %>
      <tr>
        <td><%= number.id %></td>
        <td><%= number.raffle_id %></td>
        <td><%= number.user_id %></td>
        <td><%= link_to 'Destroy', number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Number', new_number_path %>
