<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @number.number %>
</p>

<p>
  <strong>Raffle:</strong>
  <%= @number.raffle_id %>
</p>

<%= link_to 'Edit', edit_number_path(@number) %> |
<%= link_to 'Back', numbers_path %>
