<% provide(:title, @user.name)%>

<div class="profile-content">
  <div class="user-info">
    <%= gravatar_for @user%>
    <h2><%= @user.name %></h1>
    <h3><%= @user.email %></h2>
    <% if current_user? @user %>
      <h4><%= link_to "Edit your profile", edit_user_path(current_user) %></h4>
    <% end %>
  </div>
  <div class="user-raffles">
    <% if !@user.raffles.blank? %>
      <h2>Raffles of <%= @user.name %></h2>
      <% for raffle in @user.raffles %>
        <div class="single-raffle">
          <h2><%= raffle.name %></h2>
          <div class="">
            <%= link_to 'Show', raffle , class:"normal-button"%>
          </div>
        </div>
      <% end %>
    <% else %>

    <% end %>

  </div>
</div>
