<% provide(:title, @raffle_category.name)%>
<p id="notice"><%= notice %></p>

<div class="raffle-info">
  <h1>
    <%= @raffle_category.name %>
  </h1>
  <p>
    <strong>Description:</strong>
    <br>
    <%= @raffle_category.description %>
  </p>
  <% if logged_in? && current_user.admin? %>
  <div class="raffle-buttons">
    <%= link_to 'Edit', edit_raffle_category_path(@raffle_category), class:"normal-button" %>
  </div>
  <% end %>
</div>
<h2 class="center">
  Raffles
</h2>

<% if !@raffle_category.raffles.blank? %>
  <% for raffle in @raffle_category.raffles %>
    <div class="raffle-info">
      <h3>
        <%= raffle.name %>
      </h3>
      <p>
        <strong>Description:</strong>
        <br>
        <%= raffle.description %>
      </p>
      <div class="raffle-buttons">
        <%= link_to 'Show', raffle_path(raffle), class:"normal-button" %>
        <% if logged_in? && current_user?(raffle.user) %>
        <%= link_to 'Edit', edit_raffle_path(raffle), class:"normal-button" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
