<%= form_for [@raffle,prize] do |f| %>
  <% if prize.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prize.errors.count, "error") %> prohibited this prize from being saved:</h2>

      <ul>
      <% prize.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>
  </div>

  <div class="field">
    <li><%= f.label :description %></li>
    <li><%= f.text_area :description %></li>
  </div>

  <div class="field">
    <li><%= f.label :prize_category_id %></li>
    <li>
      <select class="" name="prize[prize_category_id]">
        <option value=-1>Select</option>
        <% if !PrizeCategory.all.blank? %>
          <% for prize_category in PrizeCategory.all %>
          <option value=<%= prize_category.id %>
            <% if !prize.prize_category_id.blank? && prize.prize_category_id == prize_category.id%>
              selected="selected"
            <% end %>
            >
            <%= prize_category.name %>
          </option>
          <% end %>
        <% else %>

        <% end %>

      </select>
    </li>
  </div>

  <div class="actions">
    <li><%= f.submit class:"button"%></li>
  </div>
<% end %>
