<p id="notice"><%= notice %></p>

<h1>Prizes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Raffle</th>
      <th>Prize category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @prizes.each do |prize| %>
      <tr>
        <td><%= prize.name %></td>
        <td><%= prize.description %></td>
        <td><%= prize.raffle_id %></td>
        <td><%= prize.prize_category_id %></td>
        <% if params.has_key?(:raffle_id) %>
        <td><%= link_to 'Edit', edit_raffle_prize_path(raffle_id:@raffle.id,id: prize.id) %></td>
        <td><%= link_to 'Destroy', raffle_prize_url(id: prize.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if params.has_key?(:raffle_id) %>
  <%= link_to 'New Prize', new_raffle_prize_path %>
  <%= link_to 'Back', @raffle %>
<% end %>
