<p id="notice"><%= notice %></p>

<div class="raffle-info">

  <%= image_tag @prize.avatar.url(:medium) %>
  <p>
    <strong>Name:</strong>
    <%= @prize.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @prize.description %>
  </p>

  <p>
    <strong>Raffle:</strong>
    <%= link_to @prize.raffle.name, @prize.raffle, class:"normal-button" %>
  </p>

  <p>
    <strong>Prize category:</strong>
    <%= link_to @prize.prize_category.name, @prize.prize_category, class:"normal-button" %>
  </p>
  <div class="raffle-buttons">
    <% if logged_in? && @prize.raffle.user == current_user %>
      <%= link_to 'Edit', edit_raffle_prize_path(@prize, raffle_id:@prize.raffle_id), class:"normal-button" %>
    <% end %>

  </div>

</div>
