<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prize.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @prize.description %>
</p>

<p>
  <strong>Raffle:</strong>
  <%= @prize.raffle_id %>
</p>

<p>
  <strong>Prize category:</strong>
  <%= @prize.prize_category_id %>
</p>

<%= link_to 'Edit', edit_prize_path(@prize) %> |
<%= link_to 'Back', prizes_path %>
