<header class="">
  <div class="logo">
    <%= link_to "Raffle-Mania", root_path, id: "logo"%>
  </div>
  <div class="search-bar-header">
    <%= form_tag(users_path, :method => "get", id:"search-form") do %>
    <select id="searchbar-dropdown">
      <option value="/raffles">Raffle</option>
      <option value="/prizes">Prize</option>
      <option value="/users">User</option>
    </select>
        <!-- <%= form_tag(raffles_path, :method => "get", id: "search-form") do %> -->
          <%= text_field_tag :search, params[:search], placeholder: "Search", id:"sph" %>
          <%= submit_tag "Search", :name => nil , class: "search-button"%>
        <!-- <% end %> -->
    <% end %>
  </div>
  <div class="user-menu">
    <% if logged_in? %>
      <%= link_to "Organize Raffle", new_raffle_path %>
      <%= link_to "Profile", current_user %>
      <%= link_to "Notifications", user_notifications_path(current_user) %>
      <%= link_to "Messages", conversations_path %>
      <%= link_to "Log out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Log in", login_path %>
      <%= link_to "Sign up", signup_path %>
    <% end %>
  </div>
</header>
